# ignore the generated artifacts
pvtr-github-repo
github-repo
evaluation_results

# ignore any local dev config file
config.yml

.vscode
output

# go test coverage output
coverage.out

# A safe space for keeping local development notes
TODO.md
